<div class="container">
  <div class="row">
    <div class="col-sm-2">

      <div class="card card-default">
        <div class="card-header">Contatos <i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="card-body card-5-7">
          <div class="card-left">
            <!-- contagem de contatos cadastrados aqui -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
